#top-bar{
    background-color:  #000000c9;
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}

img{
    height:35vh;
    width: 35vh;
    /* padding-top: 40px; */
    
}

#pic-and-name{
    display: flex;
    align-content: center;
    justify-content: left;
    flex-direction: column;
    width:15vw;
    padding-top: 20px;
  
    
    
}
#name{
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
p3{
    color: blue;
}


#upper-text{
    display: flex;
    justify-content: space-between;
    width:75%;
    font-size: 10px;
    align-content: flex-end;
    padding-left: 25%;
    padding-right: 20%;
    border-bottom: .5px solid gray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
input{
    height: 10px;
}
button{
    height: 15px;
    font-size: 10px;
}
#pinned{
    display: flex;
    justify-content: space-between;
    font-size: 10px;
    padding-left: 25%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 10px;
    padding-bottom: 10px;
    
    
}
#box-1{
    border: .5px solid gray;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    justify-content: space-between;
    width: 85%;
    height: 12vh;
    font-size: 7px;
   font-family: Verdana, Geneva, Tahoma, sans-serif
  
   
}
#thirteen{
     font-size: 10px;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     display: flex;
     justify-content: space-between;
     align-content: flex-end;
     padding-left: 15%;
     padding-top: 20px;
     padding-bottom: 6px;
}
#box2{
    background-color: rgb(201, 201, 201);
    border:gray .5px solid;
    height: 30vh;
    width: 85%;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    justify-content: space-between;
}